.Mix {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mix-name {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

.mix-tracks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
}
