.PlayerInfo {
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-info-image {
  height: 35vw;
  width: 35vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
