.TrackDisplay {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 15px;
  row-gap: 5px;
  align-content: center;
}

.player-track-img {
  grid-row: 1/3;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s ease-in-out;
}

.player-track-name {
  color: var(--color-text-active);
  align-self: end;
  font-weight: bold;
}

.player-track-sources {
  display: flex;
  gap: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.player-track-artist:hover,
.player-track-album:hover {
  cursor: pointer;
  text-decoration: underline;
}
